@import './../../styles.scss';

.header-frame {
    width: 1440px;
    height: 80px;
    @include dFlex($jc: space-between, $fd: row);
    font-weight: 800;
    font-size: larger;
    img {
        width: auto;
        height: 40px;
        margin-left: 32px;
    }
    @media (max-width:1440px) {
        width: 100vw;
    }
}

.burger-frame {
    position: relative;
    width: 80px;
    background-color: none;
    cursor: pointer;
}

.item-style {
    line-height: 26px;
    padding: 10px; 
    margin: 0; 
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover{
        color: rgb(50, 50, 50) !important;
    }
  }

