@import './../../styles.scss';

.header-frame {
    width: 1440px;
    height: 80px;
    @include dFlex($jc: space-between, $fd: row);
    font-family: 'Syne', sans-serif ;
    font-weight: 800;
    font-size: larger;
    img {
        width: auto;
        height: 40px;
        margin-left: 32px;
    }
    @media (max-width:1440px) {
        width: 100vw;
    }
}

.burger-frame {
    position: relative;
    width: 80px;
    background-color: none;
    cursor: pointer;
}

.mat-menu-panel {
    background-color: antiquewhite;
    /* Anpassungen für das Popup-Menü */
}