<div class="header-frame" id="header">
    <img class="logo" src="assets/images/favicon.png" alt="">
    <div class="burger-frame">
        <img src="assets/icons/burger-menu-50-black.png" alt="burger" (click)="toggleNavigation()">
    </div>
</div>

<!--
        Trigger for popup
            <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu" class="burger-menu">
            <div class="item-style"><a href="#aboutMe">about me</a></div>
            <div class="item-style"><a href="#contactFrame">contact</a></div>
            <div class="item-style" (click)="togglePrivacyPolicy()">privacy policy</div>
            <div class="item-style" (click)="toggleNavigation()">Navigation</div>
            <div class="item-style" (click)="changeLang('en')">english</div>
            <div class="item-style" (click)="changeLang('de')">deutsch</div>
            <div class="item-style" (click)="changeLang('fr')">français</div>
        </mat-menu>
-->