@import './../../styles.scss';

.footer-frame {
    background-color: black;
    width: 100vw;
    max-width: 1440px;
    @include dFlex($fd: row-reverse, $jc: space-between);

    @media (max-width: 490px) {
        @include dFlex();
    }

}

#xing {
    @include dFlex();

    img {
        width: auto;
        height: 32px;
    }
}

.logo-brand-frame {
    margin-left: 32px;
    width: 100%;
    color: white;
    margin-bottom: 32px;
    @include dFlex($fd: column, $ai:flex-start);

    @media (max-width: 490px) {
        margin-left: 0;
        align-items: center;
    }

    img {
        margin-left: 12px;
        height: 8vw;
        max-height: 60px;
    }
}

.brand {
    padding-left: 3vw;
}
.logo {
    padding-left: 12px;
}

.link-frame {
    color: white;
    @include dFlex($fd: row, $ai: baseline, $jc: space-between);
    max-width: 250px;
    width: 50%;
    margin: 0 32px 5vw 0;
    gap: 1em;

    a {
        @include dFlex();
        padding: 4px;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }

        img {
            margin: auto;
        }
    }
    @media (max-width: 490px) {
        margin-right: 0;
        justify-content: center;
        gap: 3em;
    }
}