@import './../../styles.scss';

.about-me-frame {
    margin: 0 3vw;
    max-width: 100% !important;
    @include dFlex($jc: flex-start, $ai: flex-start);

    @media (max-width:375px) {
        flex-direction: column;
        margin: 10px;

    }
}

.text-pic-frame {
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: row);
    //padding-left: 24px;
    gap: 32px;

    @media (max-width:375px) {
        flex-direction: column-reverse !important;
        align-items: center !important;
        gap: 12px;
        padding-left: 0;
    }
}

.left-frame {
    width: 50%;
    @include dFlex();

    @media (max-width:375px) {
        width: 100%;
        padding: 12px;
    }
}

a {
    // height: 68px !important;
    border: 4px solid black !important;
    padding: 12px 1em 12px 1em !important;
    text-decoration: none;
    color: black;
}

#a1 {
    //for screen under the text
    margin-top: 10%;

    @media (max-width:375px) {
        display: none;
    }
}

.a2-frame {
    position: relative;

    margin: 12px 0 12px 0;
    @include dFlex();

    @media (max-width:375px) {
        width: 100vw;
    }
}

#a2 {
    //for mobile in top of the subtitle
    width: 7em;
    white-space: nowrap;
    height: auto;
    margin-bottom: 10%;

    @media (min-width:375px) {
        display: none;
    }
}

.text-frame {
    //width: 100%; //width:619 of < 1440px
    @include dFlex($jc: flex-start, $ai: flex-start);
    overflow-y: auto;
    padding: 10px;
    height: 224px;
    gap: 52px;

    @media (max-width:1440px) {
        height: 170px;
        gap: 3.6%;
    }

    @media (max-width:375px) {
        width: 80%;
    }
}

.sub-title {
    @include subTitle();
    //height: 354px;
    margin-bottom: 2px;
    padding: 10px;
    text-align: left;

}

.text {
    width: 100%; //610pxof <1440px
    height: 55%;
    font-size: 23px;
    line-height: 27.6px;

    @media (max-width:1440px) {
        font-size: 1.6vw;
        line-height: 1.92vw;
    }

    @media (max-width:650px) {
        font-size: 10.4px;
        line-height: 12.5px;
    }
}

.right-frame {
    width: 50%;
    @include dFlex();
}

.arrow-left-down {
    position: relative;
    top: 32px;
}

.portrait {
    position: relative !important;
    top: 2px;
    @include dFlex();
    width: 50%;
    height: auto;

    @media (max-width:375px) {
        width: 100%;
        
    }

    img {
        width: 30vw;
        height: auto;
        border-radius: 5px;
        @media (max-width:375px) {
            width: 80vw;
        } 
    }
}