<div id="aboutMe" class="about-me-frame">
    <div class="a2-frame">
        <a id="a2" href="#contactFrame">
            Send a message
        </a>
    </div>

    <div class="sub-title">
        About me
    </div>
    <div class="text-pic-frame">
        <div class="left-frame">
            <div class="text-frame" id="textFrame">

                <div class="text" [innerHTML]="aboutMeText">
                    
                </div>

            </div>
            <a id="a1" href="#contactFrame">
                Let's talk
            </a>
        </div>
        <div class="right-frame">
            <div class="portrait">
                <img src="assets/images/portrait1.jpg" alt="portrait">
            </div>
            <img class="arrow-left-down" src="assets/icons/arrow-left-pic.png" alt="arrow-left">
        </div>
    </div>

</div>