@import './../../styles.scss';

.about-me-frame {
    margin: 0 3vw;
    max-width: 100% !important;
    min-height: 448px;
    height: fit-content; //840px; 
    @include dFlex($jc: flex-start, $ai: center);

    @media (max-width:375px) {
        flex-direction: column;
        margin: 10px;
        min-height: fit-content;
    }
}

.text-pic-frame {
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: row);
    gap: 32px;

    @media (max-width:375px) {
        flex-direction: column;
        align-items: center !important;
        gap: 12px;
        padding-left: 0;
    }
}

.left-frame {
    width: 50%;
    height: fit-content;
    @include dFlex($ai: flex-end);

    @media (max-width:375px) {
        width: 100%;
        height: 320px;
        padding: 12px;
        align-items: center;
    }
}

#a1, #a2 {
    // height: 68px !important;
    border: 4px solid black !important;
    padding: 12px 1em 12px 1em !important;
    text-decoration: none;
    color: black;
}
.a2-frame {
    //for mobile in top of the subtitle
    margin: 12px 0 12px 0;
    @include dFlex();

    @media (max-width:375px) {
        width: 100vw;
    }
}

#a2 {
    //for mobile in top of the subtitle
    white-space: nowrap;
    height: auto;
    margin-bottom: 10%;

    @media (min-width:376px) {
        display: none;
    }
}

.btn-frame {
    width: 100%;
    margin-top: 16px;
    @include dFlex($jc: space-between, $fd: row);

    @media (max-width:375px) {
        flex-direction: column;
    }
}

#a1 {
    margin: auto;

    @media (max-width:375px) {
        display: none;
    }
}

#zoom-text {
    opacity: 0.8;
    width: 24px;
    padding-right: 32px;
    cursor: pointer;
    
    @media (min-width:1000px) {
        display: none;
    }
}

.text-frame {
    //width: 100%; //width:619 of < 1440px
    @include dFlex($jc: flex-start, $ai: flex-start);
    overflow-y: auto;
    padding: 10px;

    gap: 52px;

    @media (max-width:1440px) {
        height: 224px;
        gap: 3.6%;
    }

    @media (max-width:375px) {
        width: 80%;
        height: 170px;
    }
}

.sub-title {
    @include subTitle();
    margin-bottom: 24px;
    padding: 10px;
    text-align: left;

    @media (max-width:900px) {
        margin-bottom: 12px;
    }

    @media (max-width:375px) {
        margin-bottom: 0;
    }
}

.text {
    width: 100%; //610pxof <1440px
    height: 55%;
    font-size: 23px;
    line-height: 27.6px;

    @media (max-width:1440px) {
        font-size: 1.6vw;
        line-height: 1.92vw;
    }

    @media (max-width:650px) {
        font-size: 10.4px;
        line-height: 12.5px;
    }
}

.right-frame {
    width: 50%;
    @include dFlex();
}

.arrow-left-down {
    position: relative;
    top: 32px;

    @media (max-width:375px) {
        margin-bottom: 32px;
    }
}

.portrait {
    position: relative !important;
    top: 2px;
    @include dFlex();
    width: 50%;
    height: auto;

    @media (max-width:375px) {
        width: 100%;

    }

    img {
        width: 30vw;
        height: auto;
        border-radius: 5px;

        @media (max-width:375px) {
            width: 80vw;
        }
    }
}

.text-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.overlay-content {
    height: 90%;
    width: 80%;
    background-color: white;
    padding: 20px;

    border-radius: 5px;
    @include dFlex($ai: end, );

    button {
        position: relative;
        top: 2px;
        right: 2px;
        border: none;
        background-color: unset;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        @media (max-width: 540px) {
            img {
                width: 32px;
                height: auto;
            }
        }
    }
}

.overlay-content .text {
    height: 100%;
    margin-top: 12px;
    font-size: 16px;
    line-height: 27.6px;
    overflow-y: auto;
    .element::-webkit-scrollbar {
        display: none; /* Versteckt die Scrollleisten für WebKit-basierte Browser */
    }
    
}