<div class="about-me-frame">
    <div class="a2-frame">
        <a id="a2" href="#">
            Send a message
        </a>
    </div>

    <div class="sub-title">
        About me
    </div>
    <div class="text-pic-frame">
        <div class="left-frame">
            <div class="text-frame">

                <div class="text">
                    <p>I am currently expanding my skill set into web development through a course at DeveloperAkademie,
                        focusing on
                        front-end development. These new skills enable me to further develop my creative and technical
                        abilities
                        in
                        the digital realm, offering exciting opportunities to merge musical and visual art forms.
                    </p>
                    <p>In 2018 I moved to Lévis, canada with my family and I look forward to applying these skills in an
                        environment
                        that values and fosters innovation and creativity in the field of front-end development.
                        I am available for work in germany and/or Canada.
                    </p>
                    <p>As a versatile music producer and arranger with years of experience in the music industry, I’ve
                        developed
                        a
                        profound understanding of creativity and technical excellence. My career began with a focus on
                        instrumental
                        performances and music degree for jazz-trumpet, piano and composition in Berlin, but I found my
                        true
                        calling in
                        the realms of studio production and arrangement.
                    </p>
                    <p>In 1998, I founded the ‘Prokult’ music studio in Berlin-Babelsberg (Germany) followed by
                        ‘Montecruz’ in
                        2007
                        in the center of berlin. In these studios, I executed projects ranging from advertising jingles
                        and
                        soundtracks for multimedia and video games to extensive musical arrangements. This work required
                        not
                        only
                        musical expertise but also a deep understanding of the technological aspects of music production
                        and
                        leading music-productions.
                    </p>
                    <p>A significant milestone in my career came in 2014 when I co-founded a game development company.
                        There, I
                        developed various concepts for musical learning games, wrote a children’s and youth book about
                        the
                        “magic of
                        music,” designed a card game and much more. These experiences enhanced my skills in creative
                        concept
                        development, leading app-productions and designing interactive educational materials.
                    </p>
                </div>

            </div>
            <a id="a1" href="#">
                Let's talk
            </a>
        </div>
        <div class="right-frame">
            <div class="portrait">
                <img src="assets/images/portrait1.jpg" alt="portrait">
            </div>
            <img class="arrow-left-down" src="assets/icons/arrow-left-pic.png" alt="arrow-left">
        </div>
    </div>

</div>