<div class="headline-frame">
    <div class="headline">
        Frontend<br>Developer
    </div>
    <div class="line-name-frame">
        <hr class="line">
        <div class="name orange">Lars Mensching</div>
    </div>
    <div class="arrow-down-frame">
        <div class="brand">&copy; Lars Mensching 2024</div>
        <div class="img-text-frame">
            <div><a class="arrow-down" href="#aboutMe"><img src="assets/icons/arrow-down.png" alt="" ></a></div>
            <p>Scroll<br>Down</p>
        </div>
        </div>
</div>

