@import './../../styles.scss';

.headline-frame {
    position: relative;
    top: 120px;
    width: 1440px;
    max-width: 1440px;
    height: 880px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 80px;
    @media (max-width:1440px) {
        top: 80px;
        width: 100vw;
        height: 80vw;
    }
    @media (max-width:800px) {
        height: 90vw;
    }
    @media (max-width:540px) {
        height: 540px;
    }
}

.in-head-frame {
    @include dFlex();
    width: fit-content;
}

.headline {
    width: fit-content;
    height: fit-content;
    margin-bottom: 2vw;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 128px; // font-size:128px for .main-frame.width: 1440px in vw
    line-height: 8.89vw;
    letter-spacing: -2.5%;
    text-align: center;

    @media (max-width:1440px) {
        height: fit-content;
        font-size: 8.89vw; // 
        line-height: 8.89vw;
        margin-top: 5%;
    }
}

.line-name-frame {
    @include dFlex($fd: row, $jc: flex-end);
    width: 100%;
    max-width: 100%;

    @media (max-width:1440px) {
        width: 100%;
        margin-bottom: 2vw;
    }
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-left: 5%;
    margin-right: 10px;
}

.name {
    font-family: 'Overpass', sans-serif;
    width: auto;
    margin-bottom: 0px;
    margin-right: 32px;
    font-weight: 700;
    font-size: 3.33vw; // font-size:48px for .main-frame.width: 1440px in vw
    line-height: 3.33vw;
    letter-spacing: -2.5%;
    text-align: center;
    color: #FF9900;
    white-space: nowrap;
}

.brand-arrow-frame {
    @include dFlex($jc: space-between, $fd: row);
    width: 92%;
    height: 100vh;
    div {
        max-height: min-content;
    }

    @media (max-width:1140px) {
        margin-top: 10%;
    }
}

.brand {
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    position: relative;
    top: 16px;
    left: -63px;

    @media (max-width:1440px) {
        font-size: 0.8rem;
    }

    @media (max-width:375px) {
        font-size: 0.6rem;
        left: -32px;
    }
}

.img-text-frame {
    @include dFlex();
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.blank {
    width: 100%;
    height: 148px;
    z-index: 2;
    background-color: #FFFCF3;
}

.text {
    width: 60px;
    height: 100px;
    z-index: 20;
    background-color: #FFFCF3;
    text-align: center;
}

.arrow-down {
    @include dFlex();
    position: relative;
    height: 100px;
}

.arrow-down img {
    @media (max-width:375px) {
        width: auto;
        height: 128px;
    }
    position: absolute;
    animation: moveDown 4s linear infinite;
}


@keyframes moveDown {
    0% {
        top: -200%; 
    }
    100% {
        top: 24%; 
    }
}