
<div class="contact-frame">
    <div class="triangle">

    </div>
    <div class="form-frame">
        <div class="subtitle">
            Say Hi!
        </div>
        <p class="orange">Want to discuss a new project?</p>
        <p>Say hello! let's discuss your ideas and make it happen</p>
        <form class="contact-form" action="submit">
            <input type="text" name="" id="name" placeholder="Your name"><br>
            <input type="email" name="" id="mail" placeholder="Your email"><br>
            <input class="message" cols="40" rows="5" type="text" name="" id="text" placeholder="Your message"><br>
        </form>
    </div>

</div>