@import './../../styles.scss';

.contact-frame {
    width: 100%;
    max-width: 1440px;
    height: auto; //1002px;
}

.triangle {
    width: 100vw;
    max-width: 1440px;
    height: 16vw; //230px;    
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
}

.subtitle {
    width: 100%;
    max-width: 1440px;
    //margin-left: 14vw;    
    margin-bottom: 32px;
    color: white;
    @include subTitle($ta: left);

    div {
        width: fit-content;
        margin-left: 8vw;
    }
}

.quest {
    font-size: 2.2vw; //32px;

    @media (max-width:390px) {
        font-size: 16px;
    }
}

.hello {
    font-size: 1.6vw;
    margin-bottom: 32px;

    @media (max-width:390px) {
        font-size: 14px;
    }
}

.form-frame {
    width: 100%;
    //height: 852px;
    background-color: black;
    //position: relative;
    //top: -1px;
    @include dFlex($jc: flex-start);

    padding-bottom: 32px;
}

p {
    text-align: center;
    color: white;
}

.contact-form {
    width: 40vw;
    @include dFlex();

    button {
        background-color: black;
        border: 1px solid rgb(55 55 55);
        color: rgb(55 55 55);

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

textarea,
input {
    width: 100%;
    font-weight: 800;
    line-height: 3vw;
    padding: 0 5px;
    color: white;
    background-color: black !important;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid white;
}

.message {
    height: 300px;
}

.checkbox-frame {
    display: flex;
    width: 100%;
    font-size: 0.7vw;
    //text-align: center;    
    line-height: 1.5vw;
    flex-direction: row !important;

    #checkbox {
        width: min-content;
    }

    p {
        width: fit-content;
        margin: 2px 0 0 12px;
    }

    a {
        text-decoration: none;
        color: #FF9900;
    }

    @media (max-width: 390px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.error-message {
    color: red; /* Oder eine andere Farbe, die zu deinem Design passt */
    font-size: 0.8em;
  }

.arrow-up {
    position: relative;
    bottom: 15px;
    right: -40%;
}