@import './../../styles.scss';

.contact-frame {
    width: 100%;
    height: 1002px;
}

.triangle {
    width: 100vw;
    height: 16vw; //230px;    
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
}

.subtitle {
    width: 100%;
    position: relative;
    top: 0;
    left: 2vw;
    color: white;
    @include subTitle();
    text-align: left;
    padding-left: 2.5vw;
    @media (max-width:375px) {
        left: -16vw;
    }
}

.form-frame {
    height: 852px;
    background-color: black;
}

p {
    text-align: center;
    color: white;
}
.contact-form {
    width: 100%;
    @include dFlex();

}

input {
    width: 30vw;
    font-weight: 800;
    line-height: 3vw;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
}

.message {
    height:300px;
}