<div class="portfolio-frame">


<div class="subtext-frame">
    <div class="sub-title">
        Portfolio
    </div>
    <div class="text">
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
</div>

<div class="examples-frame">
    <div class="img-text-frame right">
        <a href="">
            <img src="assets/images/pic-join.png" alt="">
        </a>
        <div class="count ">
            <div><p><b>01/02</b></p></div>
        </div>
    </div>

    <div class="img-text-frame left">
        <div class="count ">
            <div><p><b>02/02</b></p></div>
        </div>
        <a href="">
            <img src="assets/images/pic-pollo.png" alt="">
        </a>

    </div>
</div>


</div>