@import './../../styles.scss';

.portfolio-frame {
    max-width: 100%;
    width: 88vw;
    height: auto;
    @include dFlex();
    margin-bottom: 32px;

    @media (max-width:375px) {
        flex-direction: column;
    }
}

.sub-title {
    @include subTitle();
    margin-bottom: 2px;
}

.subtext-frame {
    @include dFlex();
    margin-top: 23px;
    margin-bottom: 80px;
    width: min-content; //525px;
    height: 56px;
}

.examples-frame {
    max-width: 1440px;
    width: 100%;
    margin: 0 32px;
    @include dFlex();
}

.img-text-frame {
    //margin-top: 5.6vw;
    width: 90%;
    margin-bottom: 64px;
    @include dFlex($fd: row, $jc:space-between);

    a {
        width: 50%;
    }

    img {
        width: 100%;
        height: auto; //28vw;
    }

    .count {
        max-height: 32vw; //460px;
        @include dFlex($jc: flex-start,$ai:start);
        font-size: 48px;

    }

    @media (max-width:740px) {
        flex-direction: column;

        .count,
        a {
            width: 100%;
        }
    }
}

.right {
    align-items: start;

    @media (max-width:740px) {
        align-items: center;
        flex-direction: column-reverse !important;
    }
}

.left {
    align-items: start;
    @media (max-width:740px) {
        align-items: center;
        flex-direction: column;
    }

}

.text {
    width: 99%; //610px of <1440px
    height:  auto;
    font-size: 23px;
    line-height: 27.6px;

    @media (max-width:1440px) {
        font-size: 1.6vw;
        line-height: 1.92vw;
    }

    @media (max-width:650px) {
        font-size: 10.4px;
        line-height: 12.5px;
    }
}

.arrow-frame{
    width: 100%;
    @include dFlex($ai: flex-end);
}

.right-arrow {
    position: relative;
    top: 32px;
    width: 60px;
}