@import './../../styles.scss';

.policy-frame {
    @include dFlex($jc:end);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 6;
}

.privacy-policy {
    position: relative;
    bottom: 32px;
    width: 70%;
    height: 70vh;
    padding: 60px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    @media (max-width: 540px) {
        padding: 16px;
    }
}

.close {
    @include dFlex($ai: flex-end);
    width: 100%;
    height: auto;
    position: relative;
}

button {
    @include closeBtn();
}



.text {
    position: relative;
    height: -webkit-fill-available;
}