<div class="privacy-policy" id="privacyPolicy" >
    <div class="close">
        <button (click)="close()"> 
            <img src="assets/icons/close_dark-grey.png" alt="">
        </button>
        </div>
    <h1>Datenschutzerklärung</h1>
    <p>Datum: [12. März 2023]</p>
    
    <h2>Überblick</h2>
    <p>Diese Website wurde von Lars Mensching erstellt. 
        Ich nehme den Schutz Ihrer persönlichen Daten sehr ernst 
        und sammeln keine personenbezogenen Daten.</p>
    
    <h2>Personenbezogene Daten</h2>
    <p>Auf meiner Website werden keine personenbezogenen Daten 
        (wie Name, Adresse, Telefonnummer oder E-Mail-Adresse) erfasst, 
        gespeichert oder verarbeitet.</p>
    
    <h2>Kontaktformular</h2>
    <p>Wenn Sie mich über das Kontaktformular auf meiner Website kontaktieren, 
        verwende ich die von Ihnen bereitgestellten Informationen ausschließlich, 
        um auf Ihre Anfrage zu antworten. Diese Daten werden 
        ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
    
    <h2>Cookies</h2>
    <p>Meine Website verwendet keine Cookies.</p>
    
    <h2>Änderungen an dieser Datenschutzerklärung</h2>
    <p>Ich behalte mir vor, diese Datenschutzerklärung zu ändern, 
        um sie an geänderte Rechtslagen oder Änderungen meiner Dienste anzupassen. 
        Die jeweils aktuelle Version finden Sie auf dieser Website.</p>
    
    <h2>Kontakt</h2>
    <p>Bei Fragen zu dieser Datenschutzerklärung 
        können Sie mich jederzeit kontaktieren: 
        Lars Mensching <br>
        Karl-Kunger Str. 48<br>
        12435 Berlin <br>
        Deutschland<br>
    </p>
    </div>
