@import './../../styles.scss';

.policy-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    @include dFlex();
}

.privacy-policy {
    width: 70%;
    height: 80vh;
    padding: 60px;
    background-color: white;
    //border: 8px solid rgb(207, 187, 146);
    border-radius: 10px;
    @include dFlex();
    overflow-y: auto;
    @media (max-width: 540px) {
        padding: 16px;
    }
}

button {
    top: 2px;
    right: 2px;
    border: none;
    background-color: unset;
    opacity: 0.8;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    @media (max-width: 540px) {
        img {
            width: 60%;
            height: auto;
        }
    }
}

.close {
    width: 100%;
    height: auto;
    position: relative;
    @include dFlex($ai: flex-end);
}

.text {
    position: relative;
    height: -webkit-fill-available;
}