@import './../../styles.scss';

.my-skills-frame {
    @include dFlex();
    scroll-margin-top: 80px;
    width: 100%;
}

.sub-title {
    @include subTitle();
    width: fit-content !important;
    position: relative;
    top: 3.6vw;
    background-color: #FFFCF3;
    display: inline;
    padding: 10px;

    @media (max-width:900px) {
        top: 4vw;
    }

    @media (max-width:600px) {
        top: 5vw;
    }

    @media (max-width:375px) {
        top: 3.6vw;
        font-size: 11vw;
        text-align: center;
        padding: 0 12px;
    }
}

.skills-frame {
    @include dFlex();
    height: auto; //592px;
    padding: 4vw;
    max-width: 80%;
    border: 4px solid black;
}

.img-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    img {
        width: 9vw;
        height: 9vw;
        margin: 25px;

        @media (max-width:1160px) {
            margin: 4%;
        }

        @media (max-width:450px) {
            width: 52px;
            height: 52px;
        }

        &:hover {
            cursor: pointer;
            animation: spin 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        }
    }
}

.grow {
    animation: riseAndFall 1.5s infinite alternate;
}

@keyframes riseAndFall {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.arrow-right-down {
    position: relative;
    top: 32px;
    left: -28vw; //from justify-content: center
    margin-bottom: 32px;

    @media (max-width:375px) {
        left: 0;
    }

    &:hover {
        animation: upAndDown 1s infinite forwards;
    }
}

@keyframes upAndDown {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-32px) translateX(-32px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

.popup {
    position: fixed;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgb(229, 229, 229);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: riseUp 5s ease-out forwards;
}

@keyframes riseUp {
    0% {
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) translateY(-500px);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}