@import './../../styles.scss';

.my-skills-frame {
   // position: relative;
    left: 0;
    width: 100%;
    @include dFlex();   
}

.sub-title {
    width: fit-content !important;
    position: relative;
    top: 3.6vw; //52px;
    background-color: #FFFCF3;
    display: inline;
    @include subTitle();
    //height: 354px;
    margin-bottom: 2px;
    padding: 10px;

    @media (max-width:1440px) {
        font-size: 5.42vw;
        line-height: 5.42vw;
    }

    @media (max-width:375px) {
        font-size: 11vw;
        margin-bottom: 35px;
        text-align: center;
        padding: 0;
    }
}

.skills-frame {
    //width: 1200px;
    height: auto; //592px;
    padding: 4vw;
    max-width: 80%;
    //gap: 5.4vw; //78px of 1440px
    @include dFlex();
    border: 4px solid black;
}

.img-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    img {
        width: 9vw;
        height: 9vw;// fit-content;
        margin: 4vw;
        @media (max-width:450px) {
            width: 52px;
            height: 52px;
        }
        &:hover{
            cursor: pointer;
            //transform: scale(1.1);
            //transition: transform 0.3s ease;
        }
    }
}

.grow {
    transform: scale(1.1); 
    transition: transform 0.5s ease;
}

.arrow-right-down {
    position: relative;
    top: 32px;
    left: -28vw; //from justify-content: center
    margin-bottom: 32px;
    @media (max-width:375px) {
        left: 0; 
    }
}

.popup {
    position: fixed;
    transform: translate(-50%, -50%); 
    color: black;
    background-color: rgb(229, 229, 229);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    opacity: 0;
    animation: riseUp 5s ease-out forwards;
}

@keyframes riseUp {
    0% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) translateY(-500px); 
        opacity: 0;
    }
}