<div class="my-skills-frame">
    <div class="sub-title">
        My skills
    </div>
    <div class="skills-frame">
        <div class="img-frame">
            <img src="assets/icons/angular.png" alt="">
            <img src="assets/icons/typescript.png" alt="">
            <img src="assets/icons/javascript.png" alt="">
            <img src="assets/icons/html.png" alt="">
            <img src="assets/icons/css.png" alt="">
            <img src="assets/icons/firebase.png" alt="">
            <img src="assets/icons/git.png" alt="">
            <img src="assets/icons/scrum.png" alt="">
            <img src="assets/icons/api.png" alt="">
            <img src="assets/icons/materialDesign.png" alt="">
            <img src="assets/icons/logic-black.png" alt="">
            <img src="assets/icons/protools-black.png" alt="">
        </div>
    </div>
    <div>
        <img class="arrow-right-down" src="assets/icons/arrow-right-pic.png" alt="">
    </div>
</div>