@import './../../styles.scss';

.main-frame {
    width: 1440px;
    height: 100vh;
    background-color: #FFFCF3;
    box-sizing: border-box;
    padding: 0 20px; 
    @include dFlex($jc:flex-start);
    overflow: auto;
    @media (max-width: 1440px) {
        width: 100vw;        
    }
}
