@import './../../styles.scss';

.main-frame {
    width: 1440px;
    height: 100%;
    background-color: #FFFCF3;
    box-sizing: border-box;
    //padding: 0 20px; 
    margin: 0;
    overflow-x: hidden;
    @include dFlex($jc:flex-start);
    @media (max-width: 1440px) {
        width: 100%;        
    }
}
