@import './../../styles.scss';

.main-frame {
    max-width: 1440px;
    background-color: #FFFCF3;
    //box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: none; 
    @include dFlex($jc:flex-start);
}
