<div class="nav-frame">
    <div class="in-nav-frame">
        <div class="nav-head">
            <div><img class="logo" src="assets/images/favicon.png" alt=""></div>
            <div class="links">
                <div class="lang" (click)="changeLang('en')">english</div>
                <div class="lang" (click)="changeLang('de')">deutsch</div>
                <div class="lang" (click)="changeLang('fr')">français</div>
            </div>
            <div class="close">
                <button (click)="close()">
                    <img src="assets/icons/x-mark-48.png" alt="close">
                </button>
            </div>
        </div>
    
        <div class="bottom">
            <div class="nav-cont">
                <div class="link-frame">
                    <div (click)="close()"><a class="font" href="#home">home</a></div>
                    <div class="line-ani" id="lineAni"></div>
                </div>
                <div class="link-frame">
                    <div (click)="close()"><a class="font" href="#aboutMe">about me</a><img class="flagImg" [src]="currentFlag === 'fr' ? fr : currentFlag === 'de' ? de : en" alt="Flag Image"></div>
                    <div class="line-ani" id="lineAni"></div>
                </div>
                <div class="link-frame">
                    <div (click)="close()"><a class="font" href="#mySkills">my skills</a></div>
                    <div class="line-ani" id="lineAni"></div>
                </div>
                <div class="link-frame">
                    <div (click)="close()"><a class="font" href="#portfolio">portfolio</a></div>
                    <div class="line-ani" id="lineAni"></div>
                </div>
                <div class="link-frame">
                    <div (click)="close()"><a class="font" href="#contactFrame">contact</a><img class="flagImg" [src]="currentFlag === 'fr' ? fr : currentFlag === 'de' ? de : en" alt="Flag Image"></div>
                    <div class="line-ani" id="lineAni"></div>
                </div>
                <div class="link-frame">
                    <div class="font" (click)="togglePrivacyPolicy()">privacy policy<img class="flagImg" [src]="currentFlag === 'fr' ? fr : currentFlag === 'de' ? de : en" alt="Flag Image"></div>
                    <div class="line-ani" id="lineAni"></div>
                </div>
            </div>
            
        </div>
        <div class="triangle"> </div>
    </div>
</div>