@import './../../styles.scss';

.nav-frame {
    @include dFlex();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100vh;
    background-color: black;
    z-index: 12;
}

.in-nav-frame {
    @include dFlex();
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    max-width: 1140px;  
    height: 100vh;
    background-color: #FFFCF3;   
}

.nav-cont {
    @media (max-width: 540px) {
        padding: 16px;
    }
}

.nav-head {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1140px;
    height: 80px;
    @include dFlex($fd: row, $jc: space-between)
}

.close {
    @include dFlex($ai: flex-end);
    height: auto;
    position: relative;
    margin-right: 32px;
}

button {
    @include closeBtn();
}

.text {
    @include dFlex($jc: space-between);
    position: relative;
    height: 86%;
}

.logo {
    width: auto;
    height: 40px;
    padding-left: 32px;
}

.links {
    @include dFlex($fd: row, $jc: space-between);
    width: 50%;

    @media (max-width:420px) {
        width: 90%;
    }
}

.lang {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.bottom { 
    @include dFlex(); 
    width: 100%; 
    height: 100vh;    
    gap: 8px;
    line-height: 8.4vw;

    a {
        text-decoration: none;
        color: black;
        margin: 0;
        @media (min-width: 1140px) {
            font-size: 54px;
            line-height: 80px;
        }
    } 
    @media (min-width: 1140px) {
        position: relative;
    }
    @media (max-width:375px) {
        line-height: 0.8;
        font-size: 16px;
    }
}

.priv-div {
    @media (min-width: 1140px) {
        font-size: 54px;
        line-height: 80px;
    }
}

.hover {
    @include subTitle();
    position: relative; 
    text-align: left;
    &:hover a {
        @include colorChange();
    }
}
.hover:hover .line-ani {    cursor: pointer;
    width: calc(100% + 4px); /* Fügt die zusätzliche Breite des border-left hinzu */
    animation: movin-border 0.5s linear forwards;
    
}

.line-ani {
    height: 32px;
    width: 32px;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    position: relative;
    left: -4px;
    transition: width 0.5s linear; /* Fügt eine Übergangseigenschaft hinzu, um die Animation sanfter zu machen */
}

@keyframes movin-border {
    0% {
        width: 32px; /* Startbreite */
    }
    100% {
        width: calc(100% + 4px); /* Endbreite inklusive der zusätzlichen Breite des border-left */
    }
}

.triangle {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 10vw;
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
}