@import './../../styles.scss';

.nav-frame {
    @include dFlex();
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  #FFFCF3;
    z-index: 30;

    @media (max-width:375px) {
        height: -webkit-fill-available;
    }
}

.in-nav-frame {
    @include dFlex();
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    background-color: #FFFCF3;
    @media (max-width: 420px) {
        margin-top: 80px;
    }
}

.nav-cont {
    @include dFlex($jc: space-between);
    @media (max-width: 540px) {
        padding: 16px;
    }
}

.nav-head {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1140px;
    height: 80px;
    margin-top: 12px;
    @include dFlex($fd: row, $jc: space-between)
}

.close {
    @include dFlex($ai: flex-end);
    height: auto;
    position: relative;
    margin-right: 32px;
}

button {
    @include closeBtn();
    top: 0;
}

.text {
    @include dFlex($jc: space-between);
    position: relative;
    height: 86%;
}

.logo {
    width: auto;
    height: 40px;
    padding-left: 32px;
}

.links {
    @include dFlex($fd: row, $jc: space-between);
    width: 50%;

    @media (max-width:420px) {
        display: none;
    }
}

.flags {
    @media (max-width:420px) {
        @include dFlex($fd: row, $jc: space-between);
        width: 40%;
    }
}

.flag img {
    display: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    @media (max-width:420px) {
        @include dFlex($fd: row, $jc: space-between);
        height: 24px;
        gap: 4px;
    }
}

.lang {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.main-cont {
    @include dFlex($jc: flex-start);
    width: 100%;
    height: 100%;
    gap: 8px;
    line-height: 8.4vw;

    @media (min-width: 1440px) {
        position: relative;
        top: 3%;
    }

    @media (max-width: 1440px) {
        justify-content: center !important;
    }
}

.font {
    text-decoration: none;
    color: black;
    margin: 0;
    text-align: center;
    position: relative;
    bottom: -16px;
    padding-left: 32px;

    @media (min-width: 1140px) {
        line-height: 80px;
        font-size: 54px;
    }

    @media (max-width:1140px) {
        margin-left: 4px;
        bottom: 0;
        padding-left: 8px;
    }

    @media (max-width:420px) {
        line-height: 0.8;
        font-size: 24px;
        white-space: wrap;
    }

    &:hover {
        @include colorChange();
        cursor: pointer;
    }
}

#pp {
    white-space: no-wrap !important;
    padding-bottom: 16px;

    @media (max-width:420px) {
        white-space: wrap !important;
    }
}

.link-frame {
    @include subTitle();
    position: relative;
    width: 100%;
    @media (max-width:1440px) {
        height: 120px;
    }
}

.link-frame:hover .line-ani {
    cursor: pointer;
    width: calc(100% + 4px);
    animation: movin-border 0.5s linear forwards;
}

.line-ani {
    height: 32px;
    width: 32px;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    position: relative;
    left: -4px;
    transition: width 0.5s linear;

    @media (max-width:900px) {
        width: 16px;
        height: 16px;
    }

    @media (max-width:420px) {
        width: 16px;
        height: 16px;
    }
}

.flagImg {
    width: 32px;
    height: auto;
    margin-left: 12px;
}

@keyframes movin-border {
    0% {
        width: 32px;
    }

    100% {
        width: calc(100% + 4px);
    }
}

.highlight-orange {
    animation: orangeFlash 2s;
    transition: color ;
}

@keyframes orangeFlash {
    0% {
        color: black 
    }
    50% {
        color: #FF9900;  
    }
    100% {
        color: black 
    }
}

.triangle {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 15vw;
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%);

    @media (max-width: 420px) {
        bottom: 40px;
    }
}

.triangle-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: black;

    @media (max-width: 420px) {
        height: 40px;
    }
}